{{>layouts/header}}
<!-- Articles의 상세페이지가 show이다. -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
        {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a> <!--링크를 위한 폼 태그 = <a href></a> -->

<a href="/articles">Go to Article List</a><!-- Article 목록으로 -->

{{>layouts/footer}}